{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie >= 10"]
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "comments": false
}